#navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 2rem ;
   background-color: #12121269;
}

#navbar h2 a {
   font-size: 1.7rem;
   display: flex;
   align-items: center;
   gap: .4rem;
   
}

#navbar form {
   display: flex;
   gap: .5rem;
}

#navbar input {
   padding: .4rem;
   border: none;
   border-radius: 3px;
   font-size: .9rem;
}

#navbar form button {
   padding: .3rem;
   background-color: #f7D354;
   border: 2px solid #f3c931;
   border-radius: 3px;
   color: #000;
   font-size: 1.3rem;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: .4s;
}

#navbar form button:hover, #navbar form button:focus{
   background-color: transparent;
   color: #f7D354;
}
@media screen and (max-width:590px) {
   #navbar h2 a {
      font-size: 1.4rem;
      gap: .3rem;
   }
   #navbar input{
      padding: .2rem;
      font-size: .8rem;
   }
   #navbar form button{
      padding: .2rem;
      font-size: 1rem;
   }
}
@media screen and (max-width:420px){
   #navbar{
      padding: 1rem;
   }
   #navbar input{
      font-size: .7rem;
   }
   #navbar form button{
      padding: .3rem;
      font-size: .9rem;
   }
}