*{
   font-family: helvetica;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #19242E;
   color: #ffffff;
}
a{
   text-decoration: none;
   color: #ebeb62 ;
   transition: .5s;
}
a:hover{
   color: #b8930c ;
}
body::-webkit-scrollbar {
   width: 6px
 }
 
 body::-webkit-scrollbar-track {
   background: transparent;
 }
 
 body::-webkit-scrollbar-thumb {
   background-color: transparent;   
   border-radius: 20px;       
   border: 1px solid #ebeb62; 
 }